<%- include('parts/top.ejs')%>


<div class="page-heading about-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>À propos de nous</h4>
            <h2>Notre entreprise</h2>
            
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Notre Background</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="images/feature-image.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Qui sommes-nous et que faisons-nous ?</h4>
            <p>Notre site web permet de gérer facilement votre bibliothèque en ligne. Vous pouvez ajouter, supprimer ou modifier des livres en quelques clics. De plus, il est possible de télécharger les livres directement depuis notre plateforme. Notre objectif est de rendre la gestion de votre collection de livres simple et efficace, tout en offrant une expérience utilisateur agréable et intuitive.</p>
             <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Notre Équipe</h2>
          </div>
        </div>
        <div class="col-md-4 mx-auto">
          <div class="team-member">
            <div class="thumb-container">
              <img src="images/1729333580265-156471600.jpg" alt="">
              <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="down-content">
              <h4>Elyes Bassoumi</h4>
              <span>Front-end / Back-end Developer</span>
              <p>nodejs Project </p>
            </div>
          </div>
        </div>
        
      
      </div>
    </div>
  </div>


  <%- include('parts/buttom.ejs')%>
